* {
    margin: 0;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
    display: flex;
    justify-content: center;
    background-color: rgb(100 116 139);
}

main {
    margin: 6rem;
    border-radius: 0.5rem;
    padding: 1rem 1rem 0 1rem;
    width: 50%;
    background-color: rgb(241 245 249);
}

li {
    margin-bottom: 1rem;
}

.item-info {
    display: flex;
    margin-bottom: 0.25rem;
}

.item-info input {
    width: 100%;
}

.item-info button {
    margin: 0 0.1rem 0 1rem;
}

.item-weight {
    display: flex;
}

.item-weight div {
    margin-right: 0.1rem;
    border-radius: 9999px;
    width: 0.75rem;
    height: 0.75rem;
    background-color: rgb(244 63 94);
    background-image: linear-gradient(120deg, rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.4));
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.25));
}

footer button {
    margin: 1.25rem 0 1rem 0;
    padding: 0.75rem;
}
